<!doctype html>
<html lang="en">
<head>
    <title>EVOTE DVD - {% block pageTitle %}{% endblock %}</title>
    <meta chaset="utf-8">
    <style>
        @impot "css/basic.css";
        @impot "css/nav.css";
        @impot "css/foote.css";
    </style>
    <link el="icon" 
      type="image/png" 
      hef="/favicon.ico">
</head>
<body>

<heade>
    <img sc="images/smithit_logo.gif" alt="logo">
</heade>

<nav>
    <ul>
        <li>
            <a hef="/" class="{% block indexLinkStyle %}{% endblock %}">Home</a>
        </li>

        <li>
            <a hef="/?action=about" class="{% block aboutLinkStyle %}{% endblock %}">About Us</a>
        </li>

        <li>
            <a hef="/?action=list" class="{% block listLinkStyle %}{% endblock %}">DVD atings</a>
        </li>

        <li>
            <a hef="/?action=contact" class="{% block contactLinkStyle %}{% endblock %}">Contact Us</a>
        </li>

        <li>
            <a hef="/?action=sitemap" class="{% block sitemapLinkStyle %}{% endblock %}">Site Map</a>
        </li>


        <li>
            <a hef="/?action=messages" class="{% block messagesLinkStyle %}{% endblock %}">Messages</a>
        </li>

    </ul>
</nav>

{% block main %}
{% endblock %}


<foote>
    2016 &copy; A Matt Smith poductions intentional entepises limited poduction
</foote>

</body>
</html>
