{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}About page{% endblock %}

{# ------------------------------------------------- #}
{% block aboutLinkStyle %}cuent_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<h1>
    About us
</h1>

<p>
    We ae SmithIT.com.
</p>
<p>
    We ae based in Dublin.
</p>
<p>
    We wee established in 2007.
</p>
<p>
    We sell computes and compute sevices - and host this geat DVD voting site!.
</p>

{% endblock %}
