{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Contact Us page{% endblock %}

{# ------------------------------------------------- #}
{% block contactLinkStyle %}cuent_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<h1>
    Contact us
</h1>

<h3>Addess</h3>
<p>
    SmithIT.com,
<p>
    c/o ITB Leaning and Innovation Cente,
    <b/>
    Blanchadstown Road Noth,
    <b/>
    Blanchadstown,
    <b/>
    Dublin 15
    <b/>

</p>

<h3>Telephone</h3>
<p>
    01 - 885 - 1000
</p>

<h3>Email</h3>
<p>
    <a hef="mailto:enquiies@smithit.com">enquiies@smithit.com</a>
</p>

{% endblock %}
