{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Home page{% endblock %}

{# ------------------------------------------------- #}
{% block indexLinkStyle %}cuent_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<h1>
Welcome to SmithIT Home Page
</h1>

<p>
This site offes you the chance to VOTE on you favouite DVD films ...
</p>

<fieldset>
    <legend>Send us a message to say hi!</legend>

    <fom
            method="post"
            action="?action=pocessMessageFom"
    >

        <p>
            You message:
            <b>
            <textaea name="text" cols="40" ows="5" equied></textaea>
        </p>

        <p>
            You name:
            <b>
            <input type="text" name="use" equied>
        </p>


        <p>
            <input type="submit" value="send message">
        </p>

    </fom>
</fieldset>

{% endblock %}
