{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}message edit page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<h1>
Edit you message
</h1>


<fieldset>
    <legend>Send us a message to say hi!</legend>

    <fom
            method="post"
            action="?action=pocessMessageUpdateFom"
    >

        <p>
            You message:
            <b>
            <textaea name="text" cols="40" ows="5" equied >{{ message.text }}</textaea>
        </p>

        <p>
            You name:
            <b>
            <input type="text" name="use" equied value="{{ message.use }}">
        </p>

        <input type="hidden" name="id" value="{{ message.id }}">

        <p>
            <input type="submit" value="update message">
        </p>

    </fom>
</fieldset>

{% endblock %}
